@page
@{
    ViewData["Title"] = "About";
}

<div>
    <p>
        Tasky
        <a class="btn btn-default" href="https://pdc.tv"> Pero </a>
        
        <a asp-controller="Todo" asp-action="Add">Add new task</a>
        <a asp-controller="Todo" asp-action="Completed">Go to completed</a>

    </p>
</div>
